table{
    border-collapse: collapse;
}

table, tr, td{
    border: 1px solid black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 3px;
}

